html,
body {
  font-family: Proxima Nova;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 1379px;
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
p,h1,h2,h3,h4,h5 {
  color: #FFFFFF;
  opacity: 1;
  letter-spacing: 0;
}
p {
  font-size: 18px;
  font-weight: 330;
}
h1 {
  font-size: 36px;
  font-weight: bold;
}
h2 {
  font-size: 18px;
  font-weight:2;
}
h3 {
  font-weight: lighter;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 10px 0;
  letter-spacing: 1.92px;
  opacity: 0.7;
}

.nav-container {
  flex-direction: column;
  display: flex;
  width: 100vw;
  height: auto;
  background-color: #0092FF;
}

header {
  display: flex;
  width: 100%;
  height: 80px;
  flex-direction: row;
  flex-shrink: 0;
  top: 0px;
}

header nav .logo{
  float: left;
  margin-left: 100px;
  margin-top: 22px;
  width: 215px;
  height: 40px;
}

header nav .menu{
  display: flex;
  float: right;
  margin-right: 100px;
  margin-top: 0;
}

header nav .menu-item .nav-link {
  float: right;
  flex-direction: row;
  padding-right: 60px;
  display: inline;
  margin-top:31px;
  font-size:  18px;
  font: Semibold 18px/22px Proxima Nova;
  align-items: center;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  text-decoration: none;
  outline: none;
}

header nav  .menu-item .login {
  display: inline;
  width: 104px;
  height: 40px;
  background-color: Transparent;
  color: white;
  border: 2px solid #fff;
  border-radius: 40px;
  text-align: center;
  outline: none;
  vertical-align:middle;
  text-decoration: none;
  font-size:  18px;
  margin-top: 22px;
}
/* ******* middle container ****** */
.middle-container {
  background-color: #0092FF;
  display: flex;
  width: 100vw;
  flex-flow: row wrap;
  align-items: start;
  flex-shrink: 0;
  top: 0px;
}

.info {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 212px;
  margin-left: 100px;
}

.info h1 {
  border: 1px solid transparent;
  margin: 0;
  padding: 0;
  width: 460px;
  height: 90px;
  text-wrap: balance;
  top: 0;
}
.info h2 {
  border: 1px solid transparent;
  margin-top: 10;
  padding: 0;
  width: 442px;
  height: 46px;
  top: 0;
}
.info h5 {
  border: 1px solid transparent;
  padding: 0;
  width: 400px;
  height: 15px;
  text-align: center;
  margin-top: 8px;
  font-weight: 300;
  font-size: 12px;
  color: #BDC7D6;

}

#button-container {
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  margin-top: 17px;
  margin-left: -97px;
}

.buttons {
    background: #FFFFFF59 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    width: 360px;
    z-index: 99;
}

a.button-enter-email {
    border-color: white;
    border-width: 2px solid;
    opacity: 1;
    color: white;
    display: block;
    float: left;
    font-size: 18px;
    font-weight: Regular;
    height: 46px;
    padding: 0;
    position: relative;
    text-align:center;
    vertical-align: middle;
    top: 12px;
    text-decoration: none;
    width: 227px;
    z-index: 20;
}
a.button-get-started {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-color: white;
    border-width: 2px solid;
    opacity: 1;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    color: #1E95EE;
    display: block;
    float: left;
    font-size: 18px;
    font-weight: Regular;
    height: 46px;
    line-height: 48px;
    padding-top: 12px;
    padding: 0;
    position: relative;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    width: 133px;
    z-index: 20;
}

.hero {
  margin-left: auto;
  margin-right: 82px;
  margin-top: -433px;
}

/* ***** trusted-by-container ****** */
.trusted-by-container {
  background-color: #0092FF;
  display: flex;
  flex-flow: column;
  align-items:center;
  top: 781px;
  width: 100vw;
}

.trusting-companies-container {
  display:flex;
  justify-content:space-around;
}

.company-item {
  padding: 0 2rem;
}

/* ***** company info container ******* */
.overpass-info-container {
  background-color: #0092FF;
  display: flex;
  position: relative;
}

.description-container {
  margin-top: 155px;
  display: flex;
  flex-flow: column;
  justify-content:space-around;
}

.what-is {
  text-align: left;
  font-size: 72px;
  margin-left: 200px;
  font-weight: 330;
  font-family: Proxima Nova;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
}
.details {
  width: 344px;
  height: 114px;
  text-align: left;
  margin-left: 200px;
}

.video-container {
    position: relative;
    display: inline-block;
    margin-top: 142px;
}

.video-container img {
  display: block;
  max-width: 100%;
  height: auto;
}

.video-container svg {
  position: absolute;
  top: 130px;
  left: 200px;
  box-shadow: 0px 5px 10px #00000029;
  font-size: 18px;
}

.overpass-info-container::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 0;
  height: 182px;
  width: 100%;
  background-color: white;
  background: url("../images/curve.svg") bottom center;
  background-size: 120%;
  outline: 1px solid red;
}
/* ***    finding container ***** */
section.finding-container {

  display: flex;
  position: relative;
  justify-content: space-around;
  margin-right: 186px;
  margin-left: 119px;
  margin-top: 284px;

  /* width: 2000px; */
  /* align-items: center; */
  /* height: 100% */

}
.find-agent {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 350px;
  margin-bottom: auto; */
  /* margin-left: 50px; */
}
.find-agent img,
h1,
p,
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.find-agent h1 {
  font-weight: 550;
  color: #1E95EE;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 0;
}
.find-agent p {
  color: #3A3C3E;
  font-weight: 350;
  width: 445px;
  height: 71px;
  text-align: center;
  opacity: 1;
}
.try {
  border: 2px solid #1E95EE;
  border-radius: 5px;
  opacity: 1;
  color: #1E95EE;
  font-size: 18px;
  font-weight: Regular;
  height: 50px;
  width: 143px;

  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  justify-content: center;
}

.agent-profiles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  align-items: center;
  margin-top: 0;
  /* margin-bottom: auto; */

}
.agent-profiles h2, img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.agent-profiles h2 {
  font-weight: 350;
  color: #1E95EE;
  text-align: center;
  width: 182px;
  height: 44px;
  letter-spacing: 0;
  opacity: 1;

}

/* ***    pricing container ***** */
.pricing-container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #F0F3FC;
  width: 1280px;
  height: 478px;
}


.titles h1 {
  color: #2A88FA;
  text-align: center;
  font-weight: 600;
  /* height: 41px; */
  margin-bottom: 0;
  margin-top: 16.5px;
}
.titles p {
  padding: 0;
  width: 645px;
  height: 47px;
  text-align: center;
  color: #3A3C3E;
  font-weight: 350;
  margin-top: 17.5px;
  opacity: 0.9;
}
.pricing-container svg {
  box-shadow: 0px 5px 10px #00000029;
}
.pricing-options {
  display: flex;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 21.4px;
  justify-content: space-between;
  position: relative;
  text-anchor: top;
  letter-spacing: 0;
}

.pricing-options .text1 {
  font-size: 18px;
  font-weight: Bold;
}
.pricing-options .text2 {
  font-size: 114px;
  font-weight: medium;
  letter-spacing: -6px;
}
.pricing-options .text3 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0px;
}
.pricing-options .text4 {
  font-size: 36px;
  font-weight: medium;
  letter-spacing: -6px;
}
.pricing-options .text5 {
  font-size: 84px;
  font-weight: 600;

}
.card-a, .card-b {
  display: inline-block;
}
 /* *** launch container **** */
.launch-container {
  display: flex;
  flex-direction: column;
  color: #1E95EE;
  width: 1280px;
  height: 529px;
  /* justify-content: space-around; */
}
.launch {
 margin-top: 105px;
 display: flex;
 position: relative;
 margin-left: 120px;
 margin-right: 120px;
 justify-content: space-between;

}
.launch h1 {
 color: #1E95EE;
 text-align: left;
 font-weight: 600;
 font-size: 42px;
 /* margin-bottom: 0;
 margin-top: 16.5px; */
}
.launch p {
   color: #1E95EE;
   width: 420px;
   height: 99px;
   text-align: left;
   font-size: 24px;
   font-weight: 550;
   line-height: 1.4;
   opacity: 1;
   margin-top: 41;
 }
.launch-activities {
  display: flex;
  color: #1E95EE;
  /* width: 1280px; */
  height: auto;
  margin-right: 120px;
  margin-left: 120px;
  margin-top: 75.5px;
  margin-bottom:  150px;
  justify-content:space-between;
  /* border: 1px dotted blue; */
 }

 .container-item {
  /* border: 1px dotted orange; */
  display: flex;
  width: 300px;
  justify-content: space-between;
  /* height: 110px; */ */
}

 .container-item img {
   margin-left: 0;
   margin-top: 0;
 }

 .container-item h6 {
   font-size: 20px;
   font-weight: 550;
   color: #1E95EE;
   text-align: left;
   padding: 0;
   margin-top: 0;
   margin-bottom: 0;
   /* margin: 2px 0 0 0; */
 }

 .container-item  p {
   font-size: 14px;
   font-weight: 400;
   color: #1E95EE;
   width: 250px;
   text-align: left;
   margin-top: 6px;
 }

.information {
  display: flex;
  flex-direction: column;

}

.launch-activities .upload{
   display: flex;
 }
.launch-activities .calling{
   display: flex;
 }
.launch-activities .script{
   display: flex;
 }

 /* **** monitor container ****** */
.monitor-container {
 display: flex;
 flex-direction: column;
 width: 1280px;
 height: 680px;
 background-color: #F0F9FF;
 margin-top:  150px;

}
.monitor {
  display: flex;
  position: relative;
  border: 1px solid transparent;
  margin-left: 120px;
  margin-right: 120px;
  justify-content: space-between;
  margin-top:  94px;
}

.monitor h1 {
  color: #1E95EE;
  text-align: right;
  font-weight: 600;
  font-size: 42px;
}
.monitor p {
   color: #1E95EE;
   width: 420px;
   height: 99px;
   text-align: right;
   font-size: 24px;
   font-weight: 550;
   line-height: 1.4;
   opacity: 1;
   margin-top: 40;
 }
 .monitor-activities {
   display: flex;
   color: #3A3C3E;
   margin-right: 120px;
   margin-left: 120px;
   margin-top: 89px;
   justify-content:space-between;
   /* border: 1px dotted blue; */
  }

  .monitor-activities .container-item h6 {
    font-size: 20px;
    font-weight: 550;
    color: #3A3C3E;
    text-align: left;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
.monitor-activities .container-item  p {
   font-size: 14px;
   font-weight: 400;
   color: #3A3C3E;
   width: 250px;
   text-align: left;
   margin-top: 6px;
 }

 .monitor-activities .outcomes{
    display: flex;
  }
 .monitor-activities .recording{
    display: flex;
  }
 .monitor-activities .Analytics{
    display: flex;
  }
