html,
body {
  font-family: Proxima Nova;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 886px;
  margin: 0;
  padding: 0;
  background-color: #0092FF;
  /* box-sizing: border-box; */
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}


header {
  display: flex;
  width: 100vw;
  height: 80px;
  flex-direction: row;
  flex-shrink: 0;
  top: 0px;
}

header nav .logo{
  float: left;
  margin-left: 100px;
  margin-top: 22px;
  width: 215px;
  height: 40px;
}

header nav .menu{
  display: flex;
  float: right;
  margin-right: 100px;
  margin-top: 0;
  margin-right: 100;
}

header nav .menu-item .nav-link {
  float: right;
  flex-direction: row;
  padding-right: 60px;
  display: inline;
  margin-top:31px;
  font-size:  18px;
  font: Semibold 18px/22px Proxima Nova;
  align-items: center;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  text-decoration: none;
  outline: none;
}

header nav  .menu-item .login {
  display: inline;
  width: 104px;
  height: 40px;
  background-color: Transparent;
  color: white;
  border: 2px solid #fff;
  border-radius: 40px;
  text-align: center;
  outline: none;
  vertical-align:middle;
  text-decoration: none;
  font-size:  18px;
  margin-top: 22px;
}
/* ******* middle container ****** */
.middle-container {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  /* justify-content: center; */
  align-items: start;
  flex-shrink: 0;
  top: 0px;
}


.middle-container .info {

}

.hero {
  margin-left: auto;
  margin-right: 82px;
  margin-top: -143px;
}

/*flexbox*/
main {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

footer {

  height: 80px;
  width: 100%;
}

.flex-container {
  flex-direction: column;
  display: flex;
  width: 100vw;
  height: auto;
}

.item {
  height: 100px;
  width: 100px;
  margin: 5px;

}
